h1{
   color:darkorange;
   justify-content: center;
   display: flex;
   font-size: 5em;
   font-family:'pixel_font';
}
h2{
    color: darkorange;
    justify-content: center;
    display: flex;
    font-family: 'pixel_font';
    margin-top: 15em;
    font-size: 32px;
}

body{
    background-color: dodgerblue;
}

@font-face {
    font-family: 'pixel_font';
    src: url(fonts/pixel_font.ttf);
}