h1{
   color:darkorange;
   justify-content: center;
   display: flex;
   font-size: 5em;
   font-family:'pixel_font';
}
h2{
    color: darkorange;
    justify-content: center;
    display: flex;
    font-family: 'pixel_font';
    margin-top: 2em;
    font-size: 32px;
}
body{
    background-color: dodgerblue;
}
.basketball_icon{
    width: 75px;
    height: 75px;
    justify-content: center;
    display: flex;
    margin: auto;
    animation: rotate 4s infinite;
    margin-top: 13em;
}
.spatiebalk {
	border-radius: 50%;
	animation: pulse 2s infinite;
    color: darkorange;
    justify-content: center;
    display: flex;
    font-family: 'pixel_font';
    font-size: 32px;
    margin-top: 6em;
}

@keyframes rotate{
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);    
    }
    25%{
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
    }
    75%{
        -webkit-animation: rotate3d(0, 0, 1, 270deg);
    }
    100%{
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
    }
} /* Met behulp van: https://codepen.io/kmathmann/pen/RaGqRr */


@keyframes pulse {
	0% {
		transform: scale(0.80);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.80);
	}
}
@font-face {
    font-family: 'pixel_font';
    src: url(fonts/pixel_font.ttf);
}